/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * CryptJj implementation : © Jordi Jansen <thestartplayer@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * cryptjj.css
 *
 * CryptJj stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (cryptjj_cryptjj.tpl), and to HTML elements you create dynamically
    (in cryptjj.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/

.card {
    width:178px;
    height:261px;
    background-size: cover;
    border-radius: 5px;
    display: inline-block;
    box-shadow: 3px 3px 3px #000000a0;
    box-sizing: border-box;
    z-index: 1;
}

.card.large {
    width:267px;
    height:392px;
}

.card.small {
    width:71px;
    height:104px;
}

.card .row {
    text-align: center;
    width: 100%;
}

.card.selectable {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 1);
    animation: pulse 2s infinite;
}

.treasure-card.selected .row .bgabutton {
    visibility: visible;
}

.treasure-card.selected {
    border: 4px rgba(80, 200, 255, 0.75) solid;
}

.treasure-card.selectable .dice-selection-area,
.treasure-card.selected .dice-selection-area,
.dice-selection-area:has(.servant-die){
    visibility: visible;
    cursor: pointer;
}

.treasure-card .row .bgabutton {
    visibility: hidden;
    width: 80px;
    margin: 2px;
}

.player-area .dice-placement-area {
    position: relative;
    top: 180px;
}

.player-area .player-treasure-areas {
    display: flex;
    flex-wrap: wrap;
}

.player-area .player-treasure-areas .player-treasure-area {
    width: 180px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.player-treasure-area:not(:has(.card)) {
    display: none !important;
}

.dice-selection-area {
    position: relative;
    height: 50px;
    width: 150px;
    margin-left: 13px;
    visibility: hidden;
}

.invalid {
    border: 4px rgba(255, 0, 0, 0.75) solid !important;
}

.dice-placement-area {
    margin-left: 13px;
    width: 150px;
}

.ui-row {
    display: flex;
    width: 100%;
}

.ui-row h2 {
    text-align: center;
}

.ui-row #treasure-cards-deck {
    width: 178px;
}

.ui-row #collector-cards {
    flex-grow: 1;
}

.ui-row #exhausted-servants-wrapper {
    color: white;
    flex-grow: 1;
    text-align: center;
    background-image: url('img/exhausted-servants.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.ui-row #treasure-cards-discard {
    width: 178px;
}

.ui-row #treasure-cards-deck .deck-count {
    color: white;
    text-align: center;
    margin-top: 120px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 5px;
    border-radius: 25px;
    background-color: black;
    opacity: 0.6;
}

.ui-row #treasure-cards-display {
    width: 100%;
}

.ui-row #treasure-cards-display .treasure-card {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.player-card-262f33-female { background-image: url('img/player-cards.png'); background-position: 0 0; }
.player-card-262f33-male { background-image: url('img/player-cards.png'); background-position: 14.2857142857% 0; }
.player-card-00808d-female { background-image:url('img/player-cards.png'); background-position: 28.5714285714% 0; }
.player-card-00808d-male  { background-image: url('img/player-cards.png'); background-position: 42.8571428571% 0; }
.player-card-8250a0-female {background-image: url('img/player-cards.png'); background-position: 57.1428571429% 0;}
.player-card-8250a0-male {background-image: url('img/player-cards.png'); background-position: 71.4285714286% 0;}
.player-card-be252e-female {background-image: url('img/player-cards.png'); background-position:  85.7142857143% 0;}
.player-card-be252e-male {background-image: url('img/player-cards.png'); background-position: 100% 0;}

.treasure-card-idol-1 {background-image: url("img/treasure-cards-idol.png"); background-position: 0% 0;}
.treasure-card-idol-2 {background-image: url("img/treasure-cards-idol.png"); background-position: 25% 0;}
.treasure-card-idol-3 {background-image: url("img/treasure-cards-idol.png"); background-position: 50% 0;}
.treasure-card-idol-4 {background-image: url("img/treasure-cards-idol.png"); background-position: 75% 0;}
.treasure-card-idol-back {background-image: url("img/treasure-cards-idol.png"); background-position: 100% 0;}

.treasure-card-jewelery-1 {background-image: url("img/treasure-cards-jewelery.png"); background-position: 0% 0;}
.treasure-card-jewelery-2 {background-image: url("img/treasure-cards-jewelery.png"); background-position: 25% 0;}
.treasure-card-jewelery-3 {background-image: url("img/treasure-cards-jewelery.png"); background-position: 50% 0;}
.treasure-card-jewelery-4 {background-image: url("img/treasure-cards-jewelery.png"); background-position: 75% 0;}
.treasure-card-jewelery-back {background-image: url("img/treasure-cards-jewelery.png"); background-position: 100% 0;}

.treasure-card-remains-1 {background-image: url("img/treasure-cards-remains.png"); background-position: 0% 0;}
.treasure-card-remains-2 {background-image: url("img/treasure-cards-remains.png"); background-position: 25% 0;}
.treasure-card-remains-3 {background-image: url("img/treasure-cards-remains.png"); background-position: 50% 0;}
.treasure-card-remains-4 {background-image: url("img/treasure-cards-remains.png"); background-position: 75% 0;}
.treasure-card-remains-back {background-image: url("img/treasure-cards-remains.png"); background-position: 100% 0;}

.treasure-card-manuscript-1 {background-image: url("img/treasure-cards-manuscript.png"); background-position: 0% 0;}
.treasure-card-manuscript-2 {background-image: url("img/treasure-cards-manuscript.png"); background-position: 25% 0;}
.treasure-card-manuscript-3 {background-image: url("img/treasure-cards-manuscript.png"); background-position: 50% 0;}
.treasure-card-manuscript-4 {background-image: url("img/treasure-cards-manuscript.png"); background-position: 75% 0;}
.treasure-card-manuscript-back {background-image: url("img/treasure-cards-manuscript.png"); background-position: 100% 0;}

.treasure-card-pottery-1 {background-image: url("img/treasure-cards-pottery.png"); background-position: 0% 0;}
.treasure-card-pottery-2 {background-image: url("img/treasure-cards-pottery.png"); background-position: 25% 0;}
.treasure-card-pottery-3 {background-image: url("img/treasure-cards-pottery.png"); background-position: 50% 0;}
.treasure-card-pottery-4 {background-image: url("img/treasure-cards-pottery.png"); background-position: 75% 0;}
.treasure-card-pottery-back {background-image: url("img/treasure-cards-pottery.png"); background-position: 100% 0;}

.treasure-card-tapestry-1 {background-image: url("img/treasure-cards-tapestry.png"); background-position: 0% 0;}
.treasure-card-tapestry-2 {background-image: url("img/treasure-cards-tapestry.png"); background-position: 25% 0;}
.treasure-card-tapestry-3 {background-image: url("img/treasure-cards-tapestry.png"); background-position: 50% 0;}
.treasure-card-tapestry-4 {background-image: url("img/treasure-cards-tapestry.png"); background-position: 75% 0;}
.treasure-card-tapestry-back {background-image: url("img/treasure-cards-tapestry.png"); background-position: 100% 0;}


.collector-card-idol-a
{
    background:url('img/collector-cards.png') 0px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-idol-b
{
    background:url('img/collector-cards.png') -497px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-jewelery-a
{
    background:url('img/collector-cards.png') -994px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-jewelery-b
{
    background:url('img/collector-cards.png') -1491px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-manuscript-a
{
    background:url('img/collector-cards.png') -1988px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-manuscript-b
{
    background:url('img/collector-cards.png') -2485px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-pottery-a
{
    background:url('img/collector-cards.png') -2982px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-pottery-b
{
    background:url('img/collector-cards.png') -3479px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-remains-a
{
    background:url('img/collector-cards.png') -3976px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-remains-b
{
    background:url('img/collector-cards.png') -4473px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-tapestry-a
{
    background:url('img/collector-cards.png') -4970px -0px;
    width:497px;height:733px;
    display:inline-block;
}

.collector-card-tapestry-b
{
    background:url('img/collector-cards.png') -5467px -0px;
    width:497px;height:733px;
    display:inline-block;
}


.die {
    display: grid;
    grid-template-areas:
		"a . c"
		"e g f"
		"d . b";

    flex: 0 0 auto;
    width: 44px;
    height: 44px;
    float:left;
    margin: 2px;
    box-shadow: 3px 3px 3px #000000a0;
    border-radius: 10%;
    z-index: 2;
}

.die-placeholder {
    background-color: white;
    opacity: 0.6;
}

.die-placeholder:nth-child(1):nth-last-child(n+4),
.die-placeholder:nth-child(2):nth-last-child(n+4),
.die-placeholder:nth-child(3):nth-last-child(n+4){
    visibility: hidden;
}

.die-262f33 { background-color: #262f33; }
.die-00808d { background-color: #00808d; }
.die-8250a0 { background-color: #8250a0; }
.die-be252e { background-color: #be252e; }

.pip-placeholder {
    display: block;
    grid-area: g;
    font-size: 18px;
    height: 10px;
}

.pip {
    display: block;
    align-self: center;
    justify-self: center;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #e5c347;
    box-shadow: inset 0 3px #111, inset 0 -3px #555;
}

.pip:nth-child(2) {
    grid-area: b;
}
.pip:nth-child(3) {
    grid-area: c;
}
.pip:nth-child(4) {
    grid-area: d;
}
.pip:nth-child(5) {
    grid-area: e;
}
.pip:nth-child(6) {
    grid-area: f;
}
/* This selects the last pip of odd-valued dice (1, 3, 5) and positions the pip in the center */
.pip:nth-child(odd):last-child {
    grid-area: g;
}



.torch-card-leader
{
    background-image: url('img/torch-cards.png');
    background-position: 0 0;
}

.torch-card-lights-out
{
    background-image: url('img/torch-cards.png');
    background-position: 100% 0;
}


/* These are important styles to copy*/
#oversurface {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    pointer-events: none;
    outline: solid green 1px;
}
#oversurface > * {
    position: absolute;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: ease-in-out;
    /* background-color: blue; */
    transform-origin: center center;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}